.containerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 500px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form select {
  width: 333px;
  height: 40px;
  border-radius: 4px;
  padding: 0 15px;
}

form input {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  padding: 0 15px;
}

.btnEntries {
  border-radius: 10px 0px 0px 10px;

  width: 145px;
  height: 30px;
}

.btnExits {
  border-radius: 0px 10px 10px 0px;

  width: 145px;
  height: 30px;
}

.btnColorsBlue {
  background: #3a9ff1;
}

.btnColorsRed {
  background: #ff576b;
}

.btnFalse {
  background: #b9b9b9;
}

.btnConfirm {
  background: #7978d9;
  border-radius: 10px;

  margin-left: 50px;
  margin-top: 20px;

  width: 236px;
  height: 46px;
}
