.containerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/background-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  height: 100vh;
  width: 70%;
  margin-left: 100px;
}

.left strong {
  color: #7978d9;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 600px;
}

.leftContent h1,
p {
  color: #fff;
}

.leftContent h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 33px;
}

.leftContent p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 435px;
  width: 513px;
  margin: 25px;
  background-color: #fff;
  margin-right: 200px;
}

.right h2 {
  margin-bottom: 55px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  color: #7978d9;
}

.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 350px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signInForm input {
  display: flex;
  flex-direction: column;
  all: unset;
  border: 1px solid #000;
  width: 300px;
  height: 28px;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 30px;
}

.btn {
  background: #7978d9;
  border-radius: 5px;
  width: 184px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.register-btn {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  margin-top: 50px;
  width: 300px;
  height: 48px;
}

.enter-btn {
  margin-top: 20px;
  width: 300px;
  height: 40px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
