.headerBackground {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;

  width: 100vw;
  height: 224px;
  margin-top: -309px;

  background: linear-gradient(90.23deg, #05ede3 0.02%, #645ffb 99.63%);
  background-size: cover;
  background-repeat: no-repeat;
}

.profileIcon {
  position: absolute;
  right: 182px;
  top: 30px;

  cursor: pointer;
}

.userContainer {
  position: absolute;
  right: 130px;
  top: 45px;

  color: #fff;
}

.logoutIcon {
  position: absolute;
  right: 90px;
  top: 45px;

  cursor: pointer;
}
